DATABASE_URL=<postgresql_async_database_url>
KALI_WORKER_BASE_URL=http://192.0.2.10:9001
DISPATCHER_POLL_INTERVAL_SECONDS=10
KALI_WORKER_TIMEOUT_SECONDS=600
DISPATCHER_STALE_RUNNING_MINUTES=30
API_PORT=8000
WORKER_POLL_INTERVAL_SECONDS=10
WORKER_TOOL_TIMEOUT_SECONDS=300
DIRB_WORDLIST=/usr/share/dirb/wordlists/common.txt
ALLOWED_SCOPES=192.0.2.0/24,203.0.113.0/24
ALLOWED_LLM_PROFILES=internal
ALLOWED_TOOLS=nmap_service,httpx_basic,nuclei_safe
